/*  Restets  */
h1,h2,body,h3,p{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.gutter{
    max-width:995px;
    margin:auto;
}

.navBar{
    color: aliceblue;
    padding-bottom: 150px;
    padding-top: 5px;
}

.img{
    background-color: grey;
    width: 400px;
    height: 200px;
    margin-left: 50px;
}
.awesome{
    padding-bottom: 50px;
}

.hero{
    justify-content: left;
}

.subHero{
    padding-bottom: 10px;
}
/* Alignment */

.vertical-align{
    display: flex;
    align-items:center;
}

.flex{
    display: flex;
}

.flex > * {
    flex: 1;
}

/* Colors and Fonts */

.bg-dark{
    background-color: #1F2937;
}

.bg-quote{
    background-color: #E5E7EB;
}

.txt-hero{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.txt-med{
    font-size:36px;
}

.txt-small{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.txt-xsmall{
    font-size: 18px;
    font-weight:light;
    color: #E5E7EB;
}